/* Header container */
.headerDiv {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  padding: 10px 30px;
  gap: 5%;
  background: linear-gradient(to bottom, black 71%, rgba(0,0,0,0) 100%);
  user-select: none;
  position: absolute; /* da se preklopi preko slike */
  top: 0;
  left: 0;
  z-index: 10;
}

/* Logo */
.headerLogo {
  width: 49px;
  height: 74px;
  flex-shrink: 0; /* ne dozvoli da se smanji logo */
}

/* Logo link da nema underline */
.logoLink {
  text-decoration: none;
}

/* Navbar */
.headerLinks {
  display: flex;
  flex-wrap: nowrap;
  gap: 25px;          /* Space between */
}

.navLink {
  display: block;     /* svaki link zauzima samo svoj prostor */
  flex-shrink: 0;     /* ne smanjuje se */
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;    /* ruka */ 
  transition: color 0.2s;
}
