/* GLAVNI KONTEJNER */
.homeContainer {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-x: hidden;
    z-index: 0;
}

.homeContainer::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to left bottom,
    rgba(0,0,0,0.7) 25%,      
    rgba(0,0,0,0.5) 40%,     
    rgba(0,0,0,0.3) 55%,     
    rgba(0,0,0,0.1) 60%,     
    transparent 100%         
  );
  z-index: 2;
  pointer-events: none;
}

/* POZADINSKA SLIKA */
.homeBackgroundImage {
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;          /* zauzima celu širinu ekrana */
    height: auto;          /* visina se prilagođava proporcijama */
    object-fit: contain;   /* cela slika vidljiva, nema sečenja */
    object-position: top center; /* slika se poravnava gore i centrirano */
    z-index: 1;
    display: block;        /* uklanja default inline gap */
}

/* KONTEJNER */
.homeLogoGroup {
    position: relative;
    top: 0%;
    width: 55%;
    height: auto;   /* fleksibilno */
    z-index: 3;
}

/* DRAGON LOGO */
.homeDragonLogo {
    width: 100%;
    height: auto;
    display: block;   /* da zauzima punu širinu */
    position: relative; /* ovo je ključno da car vezujemo za njega */
    z-index: 1;
}

/* AUTO */
.homeCarImage {
    position: absolute;
    bottom: 20%;  /* sada se veže unutar dragon-a */
    left: 50%;
    transform: translateX(-50%) rotate(-1deg);
    width: 90%;
    height: auto;
    z-index: 2;
}


/* KONTEJNER ZA NASLOV, PODNASLOV I DUGME */
.homeContent {
    position: absolute;
    top: 25%;
    right: 10%;
    transform: translateY(-50%);
    text-align: center;
    z-index: 5;
    color: white;
}

/* NASLOV */
.homeTitle {
    font-family: 'Teko', sans-serif;
    font-weight: 400;   /* Regular */
    font-size: 96px;    /* kao u slici */
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    margin: 10px 0;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
    z-index : 5;
}

/* PODNASLOV */
.homeSubtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;   /* Light */
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    margin: 10px 0 30px;
    color: #ccc;    
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
    z-index : 5;
}

/* DUGME */
.homeButton {
    padding: 12px 28px;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    background-color: #FFD700;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
    z-index : 5;
}

.homeButton:hover {
    background-color: #ffcc00;
}

.infoContainer {
    position: relative;
    width: 100%;
    height: auto; /* neka raste sa sadržajem */
    display: flex;
    flex-direction: column; /* da ide jedan ispod drugog */
    gap: 60px; /* razmak između sekcija */
    padding: 40px;
    top: -50%;
    z-index: 2;
}

/* POZADINSKA SLIKA */
.teamBackgroundImage {
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;          /* zauzima celu širinu ekrana */
    height: auto;          /* visina se prilagođava proporcijama */
    object-fit: contain;   /* cela slika vidljiva, nema sečenja */
    object-position: top center; /* slika se poravnava gore i centrirano */
    z-index: 1;
    display: block;        /* uklanja default inline gap */
}

.teamInfo {
    display: flex;
    gap: 40px;
    background: lightblue;
    padding: 20px;
    z-index: 2;
    margin: 0 5%;
}

.fsInfo {
    display: flex;
    gap: 40px;
    background: red;
    padding: 20px;
    margin: 15% 5%;
    z-index: 2;
}